<div class="sde-cb-tsrc">
  <p class="sde-cb-hint">{{localize "SDE.charBuilder.tableSources.hint"}}</p>

  <label class="sde-cb-tsrc-showall">
    <input type="checkbox" data-show-all {{#if showAll}}checked{{/if}}>
    {{localize "SDE.charBuilder.tableSources.showAll"}}
  </label>

  <div class="sde-cb-tsrc-scroll">
    {{#each groups}}
    <div class="sde-cb-tsrc-group">
      <div class="sde-cb-tsrc-group-head">{{label}}</div>
      <div class="sde-cb-tsrc-cols">
        <span></span>
        <span>{{localize "SDE.charBuilder.tableSources.nameCol"}}</span>
        <span>{{localize "SDE.charBuilder.tableSources.trinketCol"}}</span>
      </div>
      {{#each rows}}
      <div class="sde-cb-tsrc-row">
        <span class="tname">{{name}}</span>
        <span class="tcheck">
          {{#if showNameCheck}}<input type="checkbox" data-kind="name" data-uuid="{{uuid}}" {{#if checkedName}}checked{{/if}}>{{/if}}
        </span>
        <span class="tcheck">
          {{#if showTrinketCheck}}<input type="checkbox" data-kind="trinket" data-uuid="{{uuid}}" {{#if checkedTrinket}}checked{{/if}}>{{/if}}
        </span>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>

  <footer class="sde-cb-tsrc-footer">
    <button type="button" data-action="save"><i class="fa-solid fa-check"></i> {{localize "SDE.charBuilder.tableSources.save"}}</button>
  </footer>
</div>
