{{!-- Shared left column: search box + scrollable option list.
      Include with the list object as context: {{> sde-cb-list step.list}} --}}
<div class="sde-cb-col-list">
  <div class="sde-cb-search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" data-cb-search value="{{search}}" placeholder="{{placeholder}}">
  </div>
  <ul class="sde-cb-list">
    {{#each entries}}
    <li class="sde-cb-list-item{{#if selected}} selected{{/if}}" data-cb-select="{{id}}" data-name="{{name}}">
      <img class="sde-cb-list-img" src="{{img}}" alt="">
      <span class="sde-cb-list-name">{{name}}</span>
    </li>
    {{/each}}
  </ul>
</div>
