<div class="sde-cb-2col">
  {{> sde-cb-list step.list}}
  <div class="sde-cb-col-detail">
    {{#if step.hasSelection}}
    <div class="sde-cb-banner">
      <img class="sde-cb-banner-img" src="{{step.detail.img}}" alt="">
      <h2 class="sde-cb-banner-name">{{step.detail.name}}</h2>
    </div>
    <div class="sde-cb-desc">{{{step.detail.description}}}</div>
    {{else}}
    <div class="sde-cb-empty">{{localize "SDE.charBuilder.selectPrompt"}}</div>
    {{/if}}
  </div>
</div>
